<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fet.dao.mapping.basemapper">

	<select id="selectSQL" resultType="com.fmm.vo.UserVo" parameterType="java.util.Map">
		SELECT id, name FROM USERS WHERE id = #{id}
	</select>	

	<insert id="insertSQL"  parameterType="java.util.Map">
		INSERT INTO USERS (id, name) VALUES (#{id}, #{name})
	</insert>
	
</mapper>
